:root {
  --background: #232c34;
  --accent: #61dafb;
}
* {
  background: var(--background);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#Title {
  color: var(--accent);
}
.App {
  display: flex;
  flex-wrap: wrap;
  position: inherit;
  justify-content: center;
  align-items: center;
}

.Block {
  position: absolute;
  width: 80%;
  border:#61dafb 3px solid;
  border-radius: 10px;
  min-height: 10vh;
  color: var(--accent);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  flex-wrap: wrap;
}

.Class {
  position: absolute;
  width: 80%;
  height: 20%;
  border: 1px solid black;
  background: none;
  font-size: 110%;
  padding: 5%;
}

.lBlock {
  width: 50%;
  border: 1px solid black;
  background: none;
  font-size: 80%;
  margin-left: 75%;
  margin-top: -12%;
}
.Teacher {
  background: none;
  font-size: 80%;
  margin-left: 12.5%;
  margin-top: -3%;
}

